version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 50
    groups:
      storybook:
        applies-to: version-updates
        patterns:
          - '@storybook/*'
          - 'storybook'
        update-types:
          - 'major'
          - 'minor'
          - 'patch'