NODE_ENV="development"

# Database
DATABASE_URL="postgres://postgres:password@db:5432/pwhlcord_stats"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password"
POSRGRES_DB="pwhlcord_stats"

# The SENTRY_AUTH_TOKEN variable is picked up by the Sentry Build Plugin.
# It's used for authentication when uploading source maps.
SENTRY_AUTH_TOKEN=""
SENTRY_ORG=""
SENTRY_PROJECT=""

# Authentication
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"